{{#*inline "page"}}

<section id="hello">
  <h1>Hi {{ name }}!</h1>
  <h3>Here are your items:</h3>

</section>
<section>
<strong>Hello this is the admin aread</strong>
</section>

{{/inline}}
{{~> (parent)~}}
